*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

hr {
    width: 30%;
    margin-bottom: 10px;
}

header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/fondo.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    position: relative;
}

.me,
.skills,
.contact,
.studies,
.experience-work {
    padding: 30px 50px;
    display: block;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.photo {
    margin-top: 40px;
    margin-left: 82px;
}

.photo img {
    width: 150px;
    border-radius: 100px;
    background: #eee;
    padding: 5px;
}

.datos {
    margin-top: 70px;
    margin-right: 70px;
    color: #ffffff;
}

.name {
    font-size: 35px;
    text-align: right;
    font-weight: 700;
}

.title {
    text-align: right;
    font-size: 35px;
}

.content {
    display: block;
}

.content .container {
    display: flex;
}

.about {
    background: #fff;
    width: 35%;
}

.experience {
    width: 75%;
    background: #eee;
}

.me,
.skills,
.contact {
    margin-bottom: 50px;
}

.etiqueta {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.etiqueta i {
    color: #fff;
    background: #aaa;
    padding: 10px;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    text-align: center;
}

.etiqueta p {
    position: absolute;
    left: 50px;
    top: 8px;
    font-size: 18px;
    color: #000;
}

.skills ul {
    padding-left: 15px;
}

.skills ul li {
    margin-bottom: 10px;
}

.experience-work p {
    font-size: 20px;
    font-weight: 600;
}

.experience-work ul {
    padding-left: 15px;
    padding-bottom: 35px;
}

.experience-work ul li {
    font-size: 17px;
    margin-bottom: 12px;
    padding-right: 30px;
    padding-top: 10px;
}

.studies dl {
    font-size: 17px;
    margin-bottom: 12px;
    padding-top: 20px;
}

.studies dl dt {
    font-weight: 700;
}

.studies dl dd {
    padding-left: 20px;
}

@media (max-width: 1000px) {
    .me,
    .skills,
    .contact,
    .studies,
    .experience-work {
        padding: 30px 20px;
        display: block;
    }
}

@media (max-width: 900px) {
    .photo {
        margin-left: 0;
    }
    .content .container {
        display: block;
    }
    .about,
    .experience {
        width: 100%;
    }
}

@media (max-width: 700px) {
    header .container {
        display: block;
    }
    .photo,
    .datos {
        width: 100%;
        margin: 0;
    }
    .photo,
    .name,
    .title {
        text-align: center;
        font-size: 25px;
    }
    .photo img {
        margin-top: 40px;
    }
    .me,
    .skills,
    .contact {
        margin-bottom: 0px;
    }
}