*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.page {
    background: #121B22;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.about-me,
.data-me {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.photo-about {
    width: 40%;
}

.text-about {
    width: 60%
}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #888;
    padding: 15px;
}

.text {
    margin-top: 50px;
}

.text h3 {
    color: #eee;
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

.text h4 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
}

.text p {
    font-size: 14px;
    color: #d5d5d5;
    margin: 0 0 20px;
}

.buttons button,
.buttons a {
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.buttons a.download {
    border: 3px solid #3D619B;
    color: #f6f6f6;
}

.buttons a.download:hover {
    background: #3D619B;
}

.buttons a.contact {
    border: 3px solid #F8333D;
    color: #f6f6f6;
}

.buttons a.contact:hover {
    background: #F8333D;
}

.studies h2,
.skills h2,
.experience h2,
.contact h2 {
    display: inline-block;
    position: relative;
    font-size: 21px;
    margin: 0 0 30px;
    margin-top: 0px;
    z-index: 1;
    padding-bottom: 7px;
    color: #eee;
}

.studies h2::before,
.skills h2::before,
.experience h2::before,
.contact h2::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #353535;
    height: 2px;
    bottom: 0;
}

.studies h2::after,
.skills h2::after,
.experience h2::after,
.contact h2::after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #F8333D;
    height: 2px;
    bottom: 0;
}

.etiqueta {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.etiqueta i {
    color: #fff;
    background: #1565C0;
    padding: 10px;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    text-align: center;
}

.etiqueta p {
    position: absolute;
    left: 50px;
    top: 5px;
    font-size: 18px;
    color: #d5d5d5;
}

.skills-contact {
    width: 40%;
    padding: 10px;
}

.studies-experence {
    width: 60%;
    padding: 10px;
}

.item-experience {
    position: relative;
    padding: 10px 0 20px 40px;
}

.item-experience:first-child {
    padding-top: 3px;
}

.item-experience::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #333;
    width: 1px;
    left: 15px;
    bottom: 5px;
}

.item-experience::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}

.item-experience label {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    margin-top: 0px;
    color: #d5d5d5;
    background-color: #222;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #007ced;
    border-radius: 30px;
}

.item-experience h4 {
    color: #eee;
}

.item-experience p {
    color: #d5d5d5;
    font-size: .92em;
}

.skills-details span {
    display: block;
}

.skill-title {
    color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.skill-container {
    position: relative;
    background-color: transparent;
    border: 2px solid #444;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 1.4px;
}

.skill-percentage {
    background-color: #007ced;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    height: 8px;
    padding: 0;
}

footer {
    padding: 2em;
    text-align: center;
    color: #eee;
}

.socials {
    border-top: 2px solid #F8333D;
    padding-top: 10px;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.socials a {
    margin: 15px;
    text-decoration: none;
    color: #d5d5d5;
    font-size: 12px;
}

@media (max-width: 1000px) {
    .about-me,
    .data-me {
        padding: 0.5em;
    }
    .photo-about,
    .text-about {
        width: 50%
    }
}

@media (max-width: 800px) {
    .photo-about,
    .text-about {
        width: 100%
    }
    .about-me,
    .data-me {
        display: block;
    }
    .photo-about {
        width: 100%;
        text-align: center;
        padding-top: 2em;
    }
    .text-about {
        text-align: center;
    }
    .text {
        padding: 0 2em;
        margin-top: 2em;
    }
    .text p {
        text-align: justify;
    }
    .data-me {
        padding: 0 3em;
        margin-top: 2em;
    }
    .skills-contact,
    .studies-experence {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 500px) {
    .photo img {
        width: 200px;
        height: 200px;
    }
    .text h3 {
        font-size: 30px;
    }
    .text,
    .data-me {
        padding: 0 1em;
    }
}